.title1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 5vw;
    animation: fadein 2s ease-in;
}

.title2 {
    margin-top: 15px;
    color: whitesmoke;
    text-align: center;
    animation: fadein 2s ease-in;
    opacity: 0;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {opacity: 0%}
    50% {opacity: 50%}
    100% {opacity: 100%}
}