.nav {
    height: 75px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbody{
    background-color: red;
    border-radius: 100px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

.reactlogo{
    min-width: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: 30px;
    animation: rotatereact 10s infinite linear;
    
}

.links {
    margin: 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

@keyframes rotatereact {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}