.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    animation: cardfade 0.3s ease-in;
}

.title {
    color: white;
}

.lobbies {
    display: grid;
    grid-column: auto;
    justify-content: center;
}

.LobbyCard {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
    animation: cardfade 0.3s ease-in;
}

.LobbyCard:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 15px
}

.LobbyAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    gap: 100px;
}

.LobbyUserCount {
    font-size: 24px;
    
}

.CreateLobbyButton {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    box-shadow: none;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.joinbutton {
    margin: 10px;
    padding: 10px;
    background-color: #193662;
    border-radius: 100px;
    font-weight: bolder;
    color: white;
}

.lockicon {
    width: 20px;
    margin-bottom: 10px;
}

@keyframes cardfade {
    0% {opacity: 0}
    50% {opacity: 50%}
    100% {opacity: 100%}
}